<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cky.learnandroiddetails">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 增加文件存储和访问摄像头的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".MyIntentService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".LongRunningService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".AlarmReceiver"/>

        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>

        <activity android:name=".TestLayoutActivity"/>
        <activity android:name=".TestImageViewActivity"/>
        <activity android:name=".TestDispatchEventActivity"/>
        <activity android:name=".TestViewGroupEventActivity"/>
        <activity android:name=".TestTipActivity"/>
        <activity android:name=".TestNotificationActivity"/>
        <activity android:name=".MVP.LoginActivity"/>
        <activity android:name=".TestScrollerActivity"/>
        <activity android:name=".TestScrollerActivity2"/>
        <activity android:name=".TestInterceptActivity"/>
        <activity android:name=".TestDashedViewAct"/>
        <activity android:name=".TestRefreshListViewAct"/>
        <activity android:name=".TestViewAct"/>
        <activity android:name=".TestEditTextAct"/>
        <activity android:name=".TestScanCode"/>
        <activity android:name=".TestWidgetAct"/>
        <activity android:name=".TestCounterAct"/>
        <activity android:name=".TestWebViewAct"/>
        <activity android:name=".TestCouponDisplayWidgetAct"/>
        <activity android:name=".TestImmersiveModeAct"/>
        <activity android:name=".TestViewPagerWithoutFragmentAct"/>
        <activity android:name=".TestGridAct"/>
        <activity android:name=".TestDynamicSelectorAct"/>
        <activity android:name=".UnitTestExample.TestUnitTestAct"/>
        <activity android:name=".HotFix.HotFixClassLoaderAct"/>
        <activity android:name=".canvas.CanvasViewAct"/>
        <activity android:name=".recyclerViewDecoration.AddRecyclerViewDecorationAct"/>
        <activity android:name=".actsince20161017.BottomDialogExampleAct"/>
        <activity android:name=".actsince20161017.ExampleAct"/>
        <activity android:name=".webviewandh5.WebViewAndH5"/>
        <activity android:name=".AndFix.MainActivity"/>
        <activity
            android:name=".TransparentActivity.MainActivity"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".TimePickerWithSecond.MainActivity"/>
        <activity android:name=".TimePickerWithSecond.wheel.MainActivity"/>
        <activity android:name=".TimePickerWithSeconds.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".customattrs.MyCustomViewAct"/>
        <activity android:name=".drawableSet.DrawableSetActivity"/>
        <activity android:name=".learnGcsSloopView.LearnGcsSloopViewMainActivity"/>
        <activity android:name=".ViewScreenShot.VIewScreenShotMainActivity"/>
        <activity android:name=".SKUChoose.SkuChooseMainActivity"/>
        <activity android:name=".valueAnimForPayBarCode.DialogHeightChangeWithAnimMainActivity"/>
        <activity android:name=".PathTest.LearnPathMainActivity"/>
        <activity android:name=".SpannableStringLearn.SpannableStringMainActivity"/>
        <activity android:name=".scrollviewcontent.ScrollViewContentTest"/>
        <activity android:name=".redpoint.TestRedPointAct"/>
        <activity android:name=".viewShadow.ViewShadowMainActivity"/>
        <activity android:name=".popupWindow.PopWindowMainActivity"/>
        <activity android:name=".TestPair.TestPairMainActivity">
        </activity>
        <activity android:name=".TestBitmapShader.BitmapShaderMainActivity">
        </activity>
        <activity android:name=".ActivityTransition.ActivityTransitionActivity1">
        </activity>
        <activity android:name=".ActivityTransition.ActivityTransitionActivity2">
        </activity>
        <activity android:name=".RegionTest.RegionTestActivity">
        </activity>
        <activity android:name=".MultiFingerTouch.MultiFingerTouchActivity">
        </activity>
        <activity android:name=".CopyOrWriteListLearn.CopyOrWriteListMainActivity">
        </activity>
        <activity android:name=".Matrix.MatrixTestActivity">
        </activity>
        <activity android:name=".DesignPattern.SimpleFactory.SimpleFactoryActivity">
        </activity>

        <meta-data
            android:name="a_host"
            android:value="${A_HOST}">
        </meta-data>
        <meta-data
            android:name="b_host"
            android:value="${B_HOST}">
        </meta-data>

        <activity android:name=".webViewTest.MainActivity">
        </activity>
        <activity
            android:name=".Camera.CameraTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".Scroller.ScrollerMainActivity">
        </activity>
        <activity android:name=".ActOnResumeTest.onResumeTestMainActivity">
        </activity>
        <activity android:name=".PasswordEditTextView.PasswordEditTextMainActivity">
        </activity>
        <activity android:name=".ViewPagerTest.ViewPagerMainActivity">
        </activity>
        <activity android:name=".FlipAnimTest.FlipAnimTestAct">
        </activity>
        <activity
            android:name=".ViewPagerTest.ViewPagerTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ViewPagerBeGalleryTest.ViewPagerForGalleryMainActivity">
        </activity>
        <activity android:name=".rengwuxian.RengwuxianMainActivity">
        </activity>
        <activity android:name=".ViewPagerAdapterExtract.ViewPagerAdapterExtractedMainActivity">
        </activity>
        <activity android:name=".LayoutTransition.LayoutTransitionMainActivity">
        </activity>
        <activity android:name=".ThreeDRotateAnimation.ThreeDRotationAct">
        </activity>
        <activity android:name=".TestBorderBg.TestBorderBgMainActivity">
        </activity>
        <activity android:name=".PercentLayoutAct.PercentLayoutMainActivity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.FragmentBackStackTest.FragBackStackTestMainActivity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.LocalBroadCastReceiverTest.LocalBroadCastReceiverTest">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.sharedPreferencesTest.SharedPreferenceMainActivity">
        </activity>
        <activity android:name=".SQliteTest.SQliteTestMainActivity">
        </activity>
        <activity android:name=".ContentResolverTest.ContentResolverTestMainActivity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.NotificationTest.NotificationTestMainActivity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.NotificationTest.NotificationTesDetailActivity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.TakePhotoTest.TakePhotoMainActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cky.learnandroiddetails.FirstCodeSecondVersion.TakePhotoTest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service
            android:name=".FirstCodeSecondVersion.ServiceBestPractice.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".FirstCodeSecondVersion.ServiceBestPractice.Main5Activity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.ParcelableTest.ParcelableTestMainActivity">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.ParcelableTest.ParcelableTestSecondActivity"/>
        <activity android:name=".ViewDragHelperTest.ViewDragHelperTestMainActivity">
        </activity>
        <activity android:name=".RecyclerVIewItemViewTest.RecyclerVIewItemViewTestActivity">
        </activity>
        <activity android:name=".ViewGroupAnimationTest.ViewGroupAnimationTestMainActivity">
        </activity>
        <activity android:name=".SysInfoTest.SysInfoTestMainActivity">
        </activity>
        <activity
            android:name=".ActivityLifeCycleTest.ActivityLifeCycleTestMainAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".ActivityLifeCycleTest.ActivityLifeCycleTestSecondAct"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity android:name=".IntentTest.IntentTestAct1">
        </activity>
        <activity android:name=".IntentTest.IntentTestAct2">
            <intent-filter>
                <action android:name="com.cky.learnandroiddetails.IntentTest.myaction1"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.cky.learnandroiddetails.IntentTest.mycategory1"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoaderExample.TestLoaderActivity">
        </activity>
        <activity android:name=".LoaderExample.TestLoaderActivity2">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.FragTest.Activity1">
        </activity>
        <activity android:name=".FirstCodeSecondVersion.FragTest.Activity2">
        </activity>
        <activity android:name=".AndroidApiGuide.MessengerTest.ActivityMessenger">
        </activity>
        <service android:name=".AndroidApiGuide.MessengerTest.MessengerService"/>
    </application>

</manifest>