<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cky.learnandroiddetails">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyIntentService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LongRunningService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".TestLayoutActivity" />
        <activity android:name=".TestImageViewActivity" />
        <activity android:name=".TestDispatchEventActivity" />
        <activity android:name=".TestViewGroupEventActivity" />
        <activity android:name=".TestTipActivity" />
        <activity android:name=".TestNotificationActivity" />
        <activity android:name=".MVP.LoginActivity" />
        <activity android:name=".TestScrollerActivity" />
        <activity android:name=".TestScrollerActivity2" />
        <activity android:name=".TestInterceptActivity" />
        <activity android:name=".TestDashedViewAct" />
        <activity android:name=".TestRefreshListViewAct" />
        <activity android:name=".TestViewAct" />
        <activity android:name=".TestEditTextAct" />
        <activity android:name=".TestScanCode" />
        <activity android:name=".TestWidgetAct">

        </activity>
        <activity android:name=".TestCounterAct"></activity>
        <activity android:name=".TestWebViewAct"></activity>
        <activity android:name=".TestCouponDisplayWidgetAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>